{% extends "base.html" %} {% block content %}

<form action="{% url 'naming:edit' concept.key %}" method="post">
  {% csrf_token %}
  <h1><input name="label" value="{{ concept }}" style="font-size:inherit"></h1>

  <dl>
    <dt>Kind</dt>
    <dd>
      {% if concept.kind %}
      <a href="{% url 'naming:detail' concept.kind.key %}">{{ concept.kind }}</a>
      {% else %} class {% endif %}
      <select name="kind">
        <option value="">class</option>
        {% for kind in kinds %}
          <option value="{{ kind.key }}" {% ifequal kind.key concept.kind.key %} selected {% endifequal %}>{{ kind.label }}
        {% endfor %}
      </select>
    </dd>
    <dt>Context</dt>
    <dd>
      {% if concept.context %}
      <a href="{% url 'naming:detail' concept.context.key %}">{{ concept.context }}</a>
      {% else %} global {% endif %}
      <select name="context">
        <option value="">global</option>
        {% for context in contexts %}
          <option value="{{ context.key }}" {% ifequal context.key concept.context.key %} selected {% endifequal %}>{{ context.label }}
        {% endfor %}
      </select>
    </dd>
  </dl>
  <p><button type="submit">Save</button></p>
</form>

<section>
  <h2>Instances</h2>
  {% include 'naming/concept_list.html' with concepts=concept.instances.all %}

  {% if not concept.kind %}
  <form class="add-form" action="{% url "naming:new" %}" method="post">
    {% csrf_token %}
    <input class="add-form__main-field" name="label" placeholder="New instance name" autofocus>
    <input type="hidden" name="kind" value="{{ concept.key }}">
    <button class="add-form__main-button" type="submit">Add</button>
  </form>
  {% endif %}
</section>

<section>
  <h2>Concepts in the context of {{ concept.label }}</h2>
  {% include 'naming/concept_list.html' with concepts=concept.concepts.all %}
  <form class="add-form" action="{% url "naming:new" %}" method="post">
    {% csrf_token %}
    <input class="add-form__main-field" name="label" placeholder="New concept name" autofocus>
    <select name="kind">
      <option value="">class
      {% for kind in kinds %}
        <option value="{{ kind.key }}">{{ kind.label }}
      {% endfor %}
    </select>
    <input type="hidden" name="context" value="{{ concept.key }}">
    <button class="add-form__main-button" type="submit">Add</button>
  </form>
</section>

<h2>Export</h2>
<pre>
{{ export|force_escape }}
</pre>

{% endblock %}
